
Options +Indexes +ExecCGI

AddHandler perl-script .pl

DirectoryIndex tschenggins-status.pl

#<FilesMatch "tschenggins-status.pl">
#    AuthType basic
#    AuthName "Teschenggins Laempli"
#    AuthUserFile "/path/to/.htpasswd"
#    Require valid-user
#</FilesMatch>
