/* * { margin: 0; padding: 0; } */
* { box-sizing: border-box; }
body { font-family: sans-serif; background-color: hsl(160, 100%, 95%); font-size: 10pt; padding: 0.5em; }

h1.title { color: #444; padding: 0; margin: 0 0 0.5em 0; }
h1.title a { color: unset; text-decoration: none; }
p.footer { font-size: 80%; text-align: center; color: #aaa; }
p.footer a { color: #aaa; }
pre.debug { color: #aaa; }
body a.database { float: right; }
p { margin-top: 0; }

/* body, select, input { font-family: sans-serif; background-color: hsl(160, 100%, 95%); font-size: 100%; } */

table { padding: 0; border: 0.1em solid #000; border-collapse: collapse; margin: 0 0 0.5em 0; }
table td, table th { margin: 0; padding: 0.1em 0.25em 0.1em 0.25em; border: 1px solid #000; }
table th { font-weight: bold; background-color: #ddd; text-align: left; border-bottom: 1px solid #000; }
table tr:hover td, table tr:hover td select, table tr:hover td input { background-color: hsl(160, 100%, 90%); }

td.max-width, th.max-width { width: 100%; }

#jobs-table td { vertical-align: top; }

.joblist { max-height: 20em; display: inline-block; overflow-y: auto; width: 100%; }

div.blocker { background-color: #000; opacity: 0.75; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
div.blocker-message { position: fixed; top: 0; left: 0; width: 100%; height: 100%; font-size: 200%; color: #fff; display: flex; align-items: center; justify-content: center; }
/* from https://30-seconds.github.io/30-seconds-of-css/ */
@keyframes bouncing-loader { to { opacity: 0.1; transform: translate3d(0, -1rem, 0); } }
.bouncing-loader { display: flex; justify-content: center; }
.bouncing-loader > div { width: 1rem; height: 1rem; margin: 3rem 0.2rem; background: #8385aa; border-radius: 50%; animation: bouncing-loader 0.6s infinite alternate; }
.bouncing-loader > div:nth-child(2) { animation-delay: 0.2s; }
.bouncing-loader > div:nth-child(3) { animation-delay: 0.4s; }

th.sort { cursor: ns-resize; padding-right: 1em; }
th.sort::after { content: '↕'; color: #aaa; float:right; position: relative; margin-right: -1em; right: 0; }
th.sort.sort-asc::after { content: '↑'; color: #000; }
th.sort.sort-desc::after { content: '↓'; color: #000; }

.clientid, .jobid { font-family: monospace; }
.action { color: blue; cursor: pointer; }
.action:hover { background-color: hsl(160, 100%, 80%); }
.right { text-align: right; }
.center { text-align: center; }
.hidden { display: none; }
.error { color: #f00; }
.nowrap { white-space: nowrap; }

input, select { border: 0.1em solid #aaa; border-radius: 0.25em; background-color: transparent; }

label { display: block; cursor: pointer; }
label:hover, tr:hover td input:hover, option:hover, select:hover { background-color: hsl(160, 100%, 80%); border-color: #444; }

td.online { color: hsl(125, 100%, 40%); } td.offline { color:hsl(0, 100%, 40%); }

div.led { display: inline-block; margin: 0; padding: 0; width: 0.75em; height: 0.75em; max-width: 0.75em; max-height: 0.75em; border: 0.1em solid #aaa; border-radius: 0.75em; }

@keyframes pulse { 0% { opacity: 0.4; transform: rotate(0deg); } 50% { opacity: 1.0; } 100% { opacity: 0.4; transform: rotate(360deg); } }
@keyframes flicker { 0%, 50%, 70% { opacity: 0.2; } 5%, 66%, 100% { opacity: 0.5; } 35% { opacity: 0.8; } }

div.led.state-unknown   { animation: flicker 0.8s linear 0s infinite; }
div.led.state-off       { opacity: 0.5; }
div.led.state-running   { animation: pulse 1.5s linear infinite; border-left-color: #444; }
div.led.state-idle      {}
div.led.result-unknown  { background-color: hsl(  0,   0%, 50%); }
div.led.result-success  { background-color: hsl(100, 100%, 50%); }
div.led.result-unstable { background-color: hsl( 60, 100%, 50%); }
div.led.result-failure  { background-color: hsl(  0, 100%, 50%); }

.tabs { display: flex; flex-wrap: wrap; }
.tab-input { position: absolute; opacity: 0; }
.tab-label { with: auto; padding: 0.15em 0.25em; border: 0.1em solid #aaa; border-bottom: none; margin: 0 0.5em; color: #aaa; text-align: center; }
.tab-label h2 { padding: 0; margin: 0; font-size: 120%; }
.tab-label h3 { padding: 0; margin: 0; font-size: 100%; }
/* .tab-label:hover { background: #ff0000; } */
/* .tab-label:active { background: #ff00ff; } */
.tab-input:checked + .tab-label { border-color: #000000; color: unset; font-weight: bold; background-color: #ddd; }
.tab-contents { order: 999; display: none; width: 100%; border-top: 0.15em solid #000; padding: 0.5em 1em; }
.tab-input:checked + .tab-label + .tab-contents { display: block; } 

.config-left { display: inline-block; width: calc(100% - 30em - 1em - 0.5em /* FIXME: why? */); min-width: 30em; margin: 0 1em 0 0; vertical-align: top; }
.config-right { display: inline-block; width: 30em; vertical-align: top; }
.config-left table, .config-right table { width: 100%; }
.config-left table select, .config-right table select, .config-left table input[type=text], .config-right table input[type=text] { width: 100%; border: none; }
.config-right td { white-space: nowrap; }

td.command-buttons { white-space: normal; text-align: center; }
td.command-buttons input[type=submit] { margin-bottom: 0.25em; }
.command-buttons form { display: inline; }

.multijob-info-toggle { font-size: 90%; color: #aaa; cursor: pointer; }
.multijob-info { display: none; }
.multijob-info ul { margin: 0; padding-left: 1em; list-style-type: none; }

label.highlight { font-weight: bold; background-color: hsl(160, 100%, 80%); }
/*input[type=radio][name=job] { position: absolute; opacity: 0; }*/
/*input[type=checkbox][name=jobs] { position: absolute; opacity: 0; }*/
input[type=radio][name=job] { display: none; }
input[type=checkbox][name=jobs] { display: none; }

/* eof */

